{% extends 'base.html.twig' %}

{% block title %}Newscast{% endblock%}

{% block body %}
    <header>
        <h1 class="text-center">Main page. All news will be here</h1>
    </header>
{% endblock %}