{% extends '::base.html.twig' %}

{% block title %}Welcome!{% endblock%}

{% block body %}
    <html>
    <head>
        <title>Welcome!</title></head>
    <body>
    <h1>Lets get started!</h1>
    <br>Hello!
    </body>
    </html>
{% endblock %}