{% extends 'default/main.html.twig' %}
{% block body %}
    {% block tittle %}
        {% if pagination|length == 0 %}
            <h1 class="text-center lead">There is no results. Suck it!</h1>
        {% endif %}
    {% endblock %}
    {% block sorting %}
    {% endblock %}
    {% block articles %}
        {{  parent() }}
    {% endblock %}
{% endblock %}