{% extends 'base.html.twig' %}

{% block title %}Manage articles - Newscast{% endblock%}

{% block body %}
    <header>
        <h1 class="text-center lead">Manage articles</h1>
    </header>
    <div id="entities-grid"></div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src={{ asset('assets/ajaxgrid.js') }}></script>
    <script>
        $("#entities-grid").ajaxgrid({
            dataUrl: "http://localhost:8000/ajax/articles",
            sortableColumns: ["id", "title", "author", "category", "publicationDate"],
            filterableColumns: ["id", "title", "author", "category", "publicationDate"],
            rowsPerPage: 5
        });
    </script>
{% endblock %}