.attributes
{
    color: #9c9c9c;
    font-family: bold;
    font-size: small;
    font-style: inherit;
}

.block-width-80
{
    width: 80%;
}

.article-title
{
    font-family: fantasy;
    font-size: large;
    text-align: center;
    color: #425b70;
}

.light-blue-block
{
    border: thick;
    border-color: #dadaff;
    border-radius: 5px;
    background-color: #eaeaff;
}