.nav>li>button {
    position: relative;
    display: block;
    padding: 15px 15px;
    border: none;
    text-align: -webkit-match-parent;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 5px;
    font-size: 18px;
    line-height: 20px;
}