{% extends 'base.html.twig' %}

{% block title %}Access denied - Newscast{% endblock %}

{% block body %}

    <div  class="alert alert-danger block-width-40 center-block">
        Access denied. Do not try to deceive us.
    </div>

{% endblock %}


