{% extends '::base.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1 class="text-center">About Newscast</h1>
    </header>
    <article>
        <p class="lead">Newscast is a project, developed by Stepan Gerasimovich and Oleg Medvedskiy(?) in itransition.</p>
    </article>
{% endblock %}