<h1>Hello!</h1>

<h3>Thank you for joining us.
    Please click <a href="{{ confirmationUrl }}">here</a> to verify your email.<br>
</h3>

<p>If you did not request verification message you can safely ignore this email.

<p>Sincerely yours,<br>
Newscast team.